#Canvas {
    position: absolute;
    z-index: -1;   
    top:100px;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    background-color: white;
    cursor: url(brush.png), auto;
}
#PlatForm{
    width: 100%;
    text-align: center;
}

#Menu{
    position: absolute;
    top: 100px;
    text-align: left;
}

.Circle{
    position: absolute;
    border-radius: 50%;
    height: 0px;
    width: 0px;
    border: black solid;
    
}
.Rectangle{
    position: absolute;
    border: black solid;
    height: 0px;
    width: 0px;
}
.Triangle{
    position: absolute;
    margin: auto;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
}
#ColorInput {
  display: none;
}
#ColorLabel {
  position: absolute;
  left: auto;
  height: 30px;
  width: 50px;
  border: 5px solid white ;
} 
#ColorPicker {
  position: absolute;
  left: 70px; 
  background-color: white;
  height: 150px;
  width: 185px;
  border: solid 1px gray;
  opacity: 1;
  padding: 5px;
}
canvas:hover {
  cursor: crosshair;
}